@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

img {
  margin: 0;
  padding: 10px;
}

.header {
  min-width: 100vw;
  height: 70px;
  background: #FFFFFF;
  border-bottom: #C6C6C6 1px solid;
}


