@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');


.circular_progress {
  margin-top: 100px;
}


.control_table {
  min-width: 80vw;
}

.table_head {
  background-color: #F9F5FB;
}

.table_data_type {
  background-color: #2CB624;
  color: #FFFFFF;
}

.add_button_section {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
}

.add_button_text {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  line-height: 0px;
  margin-right: 15px;
}

.add_button_icon {
  color: #680CEA;
  font-size: 2rem !important;
}
